<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.admin.mapper.VehInvoiceMapper">

    <select id="selectInvoicePage" resultType="com.company.admin.dto.response.InvoiceListResponse">
        SELECT
            latest.vehicle_id,
            v.vin,
            latest.id AS latest_invoice_id,
            latest.invoice_seq AS latest_invoice_seq,
            latest.invoice_type AS latest_invoice_type,
            latest.invoice_no AS latest_invoice_no,
            latest.invoice_date AS latest_invoice_date,
            CASE WHEN latest.invoice_type = 'INVOICED' THEN TRUE ELSE FALSE END AS has_formal_invoice,
            cnt.invoice_count
        FROM t_veh_invoice latest
        INNER JOIN (
            SELECT vehicle_id, MAX(invoice_seq) AS max_seq, COUNT(1) AS invoice_count
            FROM t_veh_invoice
            WHERE deleted = 0
            GROUP BY vehicle_id
        ) cnt ON cnt.vehicle_id = latest.vehicle_id AND cnt.max_seq = latest.invoice_seq
        INNER JOIN t_vehicle v ON v.id = latest.vehicle_id AND v.deleted = 0
        WHERE latest.deleted = 0
        <if test="query.vin != null and query.vin != ''">
            AND v.vin LIKE CONCAT('%', #{query.vin}, '%')
        </if>
        <if test="query.invoiceType != null and query.invoiceType != ''">
            AND latest.invoice_type = #{query.invoiceType}
        </if>
        <if test="query.hasFormalInvoice != null and query.hasFormalInvoice">
            AND latest.invoice_type = 'INVOICED'
        </if>
        <if test="query.hasFormalInvoice != null and !query.hasFormalInvoice">
            AND latest.invoice_type != 'INVOICED'
        </if>
        ORDER BY latest.id DESC
    </select>
</mapper>
