<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.admin.mapper.VehPaymentMapper">

    <select id="selectPaymentPage" resultType="com.company.admin.dto.response.PaymentResponse">
        SELECT
            p.id,
            p.vehicle_id,
            v.vin,
            p.stage_status,
            p.payment_date,
            p.credit_full_payment_date,
            p.payment_status,
            p.remark5,
            CASE WHEN latest.invoice_type = 'INVOICED' THEN TRUE ELSE FALSE END AS has_formal_invoice,
            p.confirmed_by,
            p.confirmed_at
        FROM t_veh_payment p
        INNER JOIN t_vehicle v ON v.id = p.vehicle_id AND v.deleted = 0
        LEFT JOIN (
            SELECT i.*
            FROM t_veh_invoice i
            INNER JOIN (
                SELECT vehicle_id, MAX(invoice_seq) AS max_seq
                FROM t_veh_invoice
                WHERE deleted = 0
                GROUP BY vehicle_id
            ) x ON x.vehicle_id = i.vehicle_id AND x.max_seq = i.invoice_seq
            WHERE i.deleted = 0
        ) latest ON latest.vehicle_id = p.vehicle_id
        WHERE p.deleted = 0
        <if test="query.vin != null and query.vin != ''">
            AND v.vin LIKE CONCAT('%', #{query.vin}, '%')
        </if>
        <if test="query.paymentStatus != null and query.paymentStatus != ''">
            AND p.payment_status = #{query.paymentStatus}
        </if>
        <if test="query.stageStatus != null and query.stageStatus != ''">
            AND p.stage_status = #{query.stageStatus}
        </if>
        <if test="query.hasFormalInvoice != null and query.hasFormalInvoice">
            AND latest.invoice_type = 'INVOICED'
        </if>
        <if test="query.hasFormalInvoice != null and !query.hasFormalInvoice">
            AND (latest.invoice_type IS NULL OR latest.invoice_type != 'INVOICED')
        </if>
        ORDER BY p.id DESC
    </select>
</mapper>
