<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.admin.mapper.VehProductionMapper">

    <select id="selectByIdForUpdate" resultType="com.company.admin.entity.VehProduction">
        SELECT *
        FROM t_veh_production
        WHERE id = #{id}
          AND deleted = 0
        FOR UPDATE
    </select>
</mapper>
