<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.admin.mapper.VehRegistrationMapper">

    <select id="selectRegistrationPage" resultType="com.company.admin.dto.response.RegistrationResponse">
        SELECT
            r.id,
            r.vehicle_id,
            v.vin,
            a.dealer_id,
            d.dealer_name,
            r.stage_status,
            r.drosstech_status,
            r.upload_date,
            r.registration_date,
            r.customer_region,
            r.remark8,
            r.confirmed_by,
            r.confirmed_at
        FROM t_veh_registration r
        INNER JOIN t_vehicle v ON v.id = r.vehicle_id AND v.deleted = 0
        LEFT JOIN t_veh_allocation a ON a.vehicle_id = r.vehicle_id AND a.deleted = 0
        LEFT JOIN t_md_dealer d ON d.id = a.dealer_id AND d.deleted = 0
        WHERE r.deleted = 0
        <if test="query.vin != null and query.vin != ''">
            AND v.vin LIKE CONCAT('%', #{query.vin}, '%')
        </if>
        <if test="query.dealerId != null">
            AND a.dealer_id = #{query.dealerId}
        </if>
        <if test="query.stageStatus != null and query.stageStatus != ''">
            AND r.stage_status = #{query.stageStatus}
        </if>
        ORDER BY r.id DESC
    </select>
</mapper>
